<div id="acerca_de_nosotros">

<!-- parallax home end -->
<div class="spacer60"></div>
<div class="container skill-shortcode">


  <!--Servicios Integrales -->
  <div class="row">

    <h2 class="section-title">Servicios Integrales </h2>


    <p> Una firma con larga tradición dedicada a la práctica de casi todas las áreas del derecho en diversos ramos, que
      ofrece servicios integrales a personas físicas, grupos empresariales e instituciones, tanto en el sector privado
      como en el público y no gubernamental.
    </p>

    <br/>

    <div class="col-xs-12 col-md-6">
      <div class="">

        <h2 style=";">Solución</h2>

        <div class="media-content">
          <a title="title goes here" class="popup-link" href="#"><img alt="" src="/img/nosotros/ideas.jpg"></a>
        </div>
        <div class="media-text">

          <br/>

          <p> Brindamos solución a los proyectos, retos, dudas y obstáculos frecuentemente asociados con estructuras y
            negocios complejos, respondiendo con creatividad y eficacia y previniendo conflictos y contingencias
            futuras.
          </p>
        </div>
      </div>
    </div>


    <div class="col-xs-12 col-md-6">
      <div class="">

        <h2 style=""> Socialmente responsables</h2>

        <div class="media-content">
          <a title="title goes here" class="popup-link" href="#"><img alt="" src="/img/nosotros/etica.jpg"></a>
        </div>
        <div class="media-text">

          <br/>

          <p> Somos socialmente responsables al estar convencidos de que la práctica del derecho debe realizarse con
            calidad,
            ética y vocación de servicio a la comunidad. Privilegiamos los valores que fomentan el desarrollo humano y
            que
            contribuyen a la búsqueda y consolidación de un México mejor.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!--
      <div class="row">
        <div class="col-md-12">
          <h3> Opinion</h3>
          <blockquote>
            “The firm’s evenly-developed structure allows it to meet all the legal needs of its corporative clients.”
            <h4> IFLR1000</h4>
          </blockquote>
        </div>
      </div>
      <br/>
      -->

  <!--<div class="spacer60"></div>-->
  <div class="spacer60"></div>

  <!--Seccion de filosofia-->
  <div class="row">

    <h2 style="" class="section-title"> Nuestra filosofia</h2>

    <h3 style="text-align: left;">Misión</h3>

    <div class="client-says">
      <div class="client-text">
        Ser una institución mexicana permanente y trascendente, de prestación de servicios legales y complementarios a
        éstos, de la más alta calidad, eficiencia y ética profesional, con vocación de servicio a la comunidad y al
        país.
      </div>

    </div>

    <br/>

    <h3 style="text-align: left;">Visión</h3>

    <div class="client-says">
      <div class="client-text">
        Ser una firma de excelencia integrada y unida, con presencia y proyección nacional e internacional, en la que
        sus
        integrantes encuentren un ambiente de trabajo ético y profesional.
        <br/>
        Los asuntos que nos encomienden nuestros clientes serán atendidos con absoluta calidad, oportunidad, y a un
        costo
        razonable.
        <br/>
        La firma mantendrá una presencia activa en organizaciones profesionales, empresariales, gubernamentales y no
        gubernamentales, a efecto de colaborar en la búsqueda y consolidación de un México mejor.
      </div>

    </div>
  </div>


  <div class="spacer60"></div>


  <!--Servicios y Valores Institucionales-->

  <div class="">

    <div class="row">
      <div class="col-md-12">
        <h2 class="section-title">Servicios y Valores Institucionales</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p data-ani="animated" data-type="bounceIn" class="lead animated bounceIn" style="visibility: visible;"> La
          relación con nuestros clientes y el servicio que ofrecemos se identifican con pilares fundamentales de:</p>
      </div>
    </div>
    <div class="spacer60"></div>

    <div class="row">


      <!--columna de imagenes-->
      <div class="col-md-6 col-xs-12">
        <img alt="" src="/img/nosotros/mesa_contrato2.jpg">

        <div class="spacer60"></div>

        <img alt="" src="/img/nosotros/cliente.png">



      </div>





      <!--columna de textos-->
      <div class="col-md-6 col-xs-12">
        <div data-ani="animated" data-type="fadeInRight" class="services-2 animated fadeInRight" style="visibility: visible;">
          <div class="services-2-icon">
            <i class="fa fa-institution"></i>
            <h4> Conocimiento y Experiencia</h4>
          </div>
          <div class="services-2-text">
            Con un amplio dominio de temas y sectores hacemos de los datos, información y retos, acciones efectivas
            avaladas
            por una larga trayectoria.
          </div>
        </div>
        <div data-ani="animated" data-type="fadeInRight" class="services-2 animated fadeInRight" style="visibility: visible;">
          <div class="services-2-icon">
            <i class="fa fa-legal"></i>
            <h4> Compromiso</h4>
          </div>
          <div class="services-2-text">
            Asumimos con empeño y responsabilidad los requerimientos y necesidades que enfrentan nuestros clientes:
            atender
            sus casos es nuestra razón de ser.
          </div>
        </div>
        <div data-ani="animated" data-type="fadeInRight" class="services-2 animated fadeInRight" style="visibility: visible;">
          <div class="services-2-icon">
            <i class="fa fa-arrows-h"></i>
            <h4> Colaboración Estrecha</h4>
          </div>
          <div class="services-2-text">
            Nuestro trato es personalizado, con lo que generamos sinergias para aprovechar de la mejor manera nuestro
            talento,
            siempre orientado al cliente, y ofrecer así resultados sobresalientes.
          </div>
        </div>
        <div data-ani="animated" data-type="fadeInRight" class="services-2 animated fadeInRight" style="visibility: visible;">
          <div class="services-2-icon">
            <i class="fa fa-trophy"></i>
            <h4> Valor</h4>
          </div>
          <div class="services-2-text">
            No nos conformamos con una operación cotidiana, sino que buscamos siempre proveer una visión estratégica y
            brindar
            alternativas que agilicen la consecución de los objetivos. Creemos en la excelencia que damos a través de
            nuestros
            servicios y en el cuidado de las relaciones con nuestros clientes.
          </div>
        </div>
        <div data-ani="animated" data-type="fadeInRight" class="services-2 animated fadeInRight" style="visibility: visible;">
          <div class="services-2-icon">
            <i class="fa fa-bar-chart"></i>
            <h4> Costo-Eficiencia</h4>
          </div>
          <div class="services-2-text">
            Mediante la combinación de calidad en el servicio, abogados con experiencia, soluciones puntuales en el
            logro de
            sus objetivos de manera oportuna, más que costo, nuestros clientes realizan una gran inversión.
          </div>
        </div>
      </div>
    </div>

  </div>


  <br/>

</div>


</div>