<div id="acerca_de_nosotros">

  <!-- parallax home end -->
  <div class="spacer60"></div>
  <div class="container skill-shortcode">

    <h2>Servicios Integrales </h2>


    <p> Una firma con larga tradición dedicada a la práctica de casi todas las áreas del derecho en diversos ramos, que
      ofrece servicios integrales a personas físicas, grupos empresariales e instituciones, tanto en el sector privado
      como en el público y no gubernamental.
    </p>


    <h3> Solución</h3>

    <p> Brindamos solución a los proyectos, retos, dudas y obstáculos frecuentemente asociados con estructuras y
      negocios complejos, respondiendo con creatividad y eficacia y previniendo conflictos y contingencias futuras.
    </p>

    <h3> Socialmente responsables</h3>

    <p> Somos socialmente responsables al estar convencidos de que la práctica del derecho debe realizarse con calidad,
      ética y vocación de servicio a la comunidad. Privilegiamos los valores que fomentan el desarrollo humano y que
      contribuyen a la búsqueda y consolidación de un México mejor.
    </p>


    <br/>

    <div class="client-says">
      <div class="client-text">
        “The firm’s evenly-developed structure allows it to meet all the legal needs of its corporative clients.”
      </div>
      <div class="client-name">
        <i class="fa fa-quote-right"></i><strong>-IFLR1000-</strong>
      </div>
    </div>

    <br/>

    <h2> Nuestra filosofia</h2>

    <h3>Misión</h3>

    <p>Ser una institución mexicana permanente y trascendente, de prestación de servicios legales y complementarios a
      éstos, de la más alta calidad, eficiencia y ética profesional, con vocación de servicio a la comunidad y al
      país.</p>

    <h3>Visión</h3>

    <p>Ser una firma de excelencia integrada y unida, con presencia y proyección nacional e internacional, en la que sus
      integrantes encuentren un ambiente de trabajo ético y profesional.</p>

    <p>Los asuntos que nos encomienden nuestros clientes serán atendidos con absoluta calidad, oportunidad, y a un costo
      razonable.</p>

    <p>La firma mantendrá una presencia activa en organizaciones profesionales, empresariales, gubernamentales y no
      gubernamentales, a efecto de colaborar en la búsqueda y consolidación de un México mejor.</p>

    <br/>

    <h2>Servicios y Valores Institucionales</h2>

    <p>La relación con nuestros clientes y el servicio que ofrecemos se identifican con pilares fundamentales de:</p>


    <h3>Conocimiento y Experiencia</h3>

    <p>Con un amplio dominio de temas y sectores hacemos de los datos, información y retos, acciones efectivas avaladas
      por una larga trayectoria.</p>

    <h3>Compromiso</h3>

    <p>Asumimos con empeño y responsabilidad los requerimientos y necesidades que enfrentan nuestros clientes: atender
      sus casos es nuestra razón de ser.</p>

    <h3>Colaboración Estrecha</h3>

    <p>Nuestro trato es personalizado, con lo que generamos sinergias para aprovechar de la mejor manera nuestro
      talento,
      siempre orientado al cliente, y ofrecer así resultados sobresalientes.</p>

    <h3>Valor</h3>

    <p>No nos conformamos con una operación cotidiana, sino que buscamos siempre proveer una visión estratégica y
      brindar
      alternativas que agilicen la consecución de los objetivos. Creemos en la excelencia que damos a través de nuestros
      servicios y en el cuidado de las relaciones con nuestros clientes.</p>

    <h3>Costo-Eficiencia</h3>

    <p>Mediante la combinación de calidad en el servicio, abogados con experiencia, soluciones puntuales en el logro de
      sus objetivos de manera oportuna, más que costo, nuestros clientes realizan una gran inversión.</p>


    <br/>

  </div>


</div>