<div id="historia">
  <ul class="timeline">

    <li class="year"> 80′s, 90′s y 00′s</li>
    <li class="event offset-first ">
      <div class="event-date">
        <p>En junio de 2014, Santamarina y Steta abrió una oficina en la ciudad de Querétaro con el propósito de
          fortalecer la atención estratégica en los asuntos jurídicos de la región del Bajío, la cual comprende los
          estados de Querétaro, Guanajuato, Jalisco, Michoacán y Aguascalientes.</p>
      </div>
    </li>


    <li class="event mover ">
      <div class="event-date">
        <p>En 2008, se funda Santamarina y Steta en Tijuana, Baja California, para atender de forma personalizada
          a los diferentes sectores industriales que existen en la región noroeste de México y su frontera con los
          Estados Unidos de América.</p>
      </div>
    </li>

    <li class="event mover ">
      <div class="event-date">
        <p>En julio de 1990, se funda la oficina de Santamarina y Steta en Monterrey, Nuevo León, para atender a
          nuestros clientes ubicados en el noroeste del país. Esta oficina cuenta hoy con una excelente reputación local
          e internacional.</p>
      </div>
    </li>

    <li class="event mover">
      <div class="event-date">
        <p>
          En 1987, a cuarenta años de su fundación, el despacho contaba con dieciséis socios, y para atender las
          necesidades de los clientes, expandimos nuestras áreas de práctica para abarcar diferentes ramas del derecho.
        </p>
      </div>
    </li>


    <li class="year">60′s y 70′s</li>
    <li class="event offset-first">
      <div class="event-date">
        <p>
          A partir de 1973, por así convenir a los intereses de la firma, de mutuo acuerdo se da por terminada la
          asociación con Baker & Botts.

          En marzo de 1973 se retiró don Fausto R. Miranda, y se cambió el nombre del despacho a Santamarina y Steta,
          convirtiendo en Sociedad Civil el 1 de enero de 1976.</p>

      </div>
    </li>

    <li class="event mover ">
      <div class="event-date">
        <p>En julio de 1965 se cambió la denominación a Baker, Botts, Miranda, Santamarina y Steta y en mayo de 1969 el
          despacho cambia nuevamente su denominación a Miranda, Santamarina y Steta.</p>
      </div>
    </li>


    <li class="year">50′s</li>
    <li class="event offset-first ">
      <div class="event-date">
        <p>
          En 1957, el despacho ya contaba con dieciséis asociados. En esta época la actividad de la firma se enfocó
          primordialmente en asuntos corporativos, laborales, de litigio, de derecho migratorio y de propiedad
          intelectual.</p>

      </div>
    </li>

    <li class="event mover ">
      <div class="event-date">
        <p>
          Durante los años siguientes, el despacho cambió de denominación. La primera vez, en 1950, a Baker, Botts,
          Miranda y Prieto, al entrar como socio el licenciado Eduardo Prieto López, y la segunda, en 1954, al dejar
          éste la sociedad, modificándose nuestro nombre a Baker, Botts y Miranda.</p>
      </div>
    </li>

    <li class="year">40′s</li>
    <li class="event offset-first ">
      <div class="event-date">
        <p>
          En sus inicios, el despacho se dedicaba primordialmente al derecho minero, petrolero y laboral. En 1949
          ingresaron al despacho los señores Juan M. Steta y Agustín Santamarina V.
        </p>
      </div>
    </li>

    <li class="event mover">
      <div class="event-date">
        <p>
          El 4 de octubre de 1947, el licenciado Fausto R. Miranda, constituyó una de las primeras asociaciones
          profesional de abogados de corte internacional en México, bajo el nombre de Baker, Botts, Andrews y Miranda,
          “La Baker”, radicada en la Ciudad de México.
        </p>
      </div>
    </li>

    <li class="event mover">
      <div class="event-date">
        <p>
          El origen del despacho se remonta a la década de los años 40’s del siglo XX, cuando el licenciado Fausto R.
          Miranda, representante de compañías mineras en Ciudad Juárez y la Ciudad de México, concibe la idea de crear
          un despacho de consultoría jurídica de calidad, para atender asuntos tanto nacionales como internacionales.
        </p>
      </div>
    </li>
  </ul>
  <br/>

</div>