<div id="perfil">


  <img class="img-thumbnail" alt="..." src="http://cdn.investorcloud.net/GIS/site/img/contenidos/perfil-848.jpg">

  <div class="space10"></div>
  <p>Grupo Industrial Saltillo “GIS” es un grupo industrial mexicano líder, fundado en 1928, que cotiza en el mercado de
    valores (BMV), desde 1976, con clave de pizarra “GISSA”. Manufactura y comercializa productos para los sectores
    de:</p>
  <ul>
    <li>Autopartes, en hierro gris y nodular, para sistemas de transmisión, suspensión, motor y frenos. Así como piezas
      para las industrias de electrodomésticos, agrícola y ferroviaria.
    </li>
    <li>Construcción, que diseña, produce y comercializa pisos y recubrimientos cerámicos y porcelánicos de gran formato
      para uso residencial e
      institucional; un amplio portafolio de calentadores para agua de uso residencial y comercial, que utilizan gas,
      energía eléctrica o solar; y
      comercializa conexiones, bridas y tuberías para los segmentos industrial y construcción, tanto en acero, plástico
      y fierro fundido.
    </li>
    <li>Hogar, desarrolla, manufactura y comercializa artículos para cocina y mesa en diversos materiales, tales como:
      aluminio, acero porcelanizado y cerámica, además comercializa una variedad de electrodomésticos.
    </li>
  </ul>
  <p>La operación de las plantas de GIS está circunscrita a un marco de calidad, preservación del medio ambiente y
    mejora continua, que ha sido reconocida con múltiples certificaciones a su calidad y productividad.</p>
</div>