
<!--layer slider-->
<div id="full-slider-wrapper">

  <div id="layerslider" style="width:1350px;height:453px; max-width: 1920px; ">


    <!-- Slide 1 -->

    <div id="slide1" class="ls-slide" data-ls="slidedelay:8000;transition2d:5;">

      <!--banner-->
      <h1 class="big-section-title color-white text-left ls-l" style="top:190px; left:108px; font-size: 60px;" data-ls="durationin:1500;delayin:700;rotatein:20;rotatexin:30;scalexin:1;scaleyin:1;transformoriginin:left 20% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">
        SANTAMARINA </h1>

      <img  class="ls-l" style="top:190px; left:545px;" data-ls="durationin:1500;delayin:700;rotatein:20;rotatexin:30;scalexin:1;scaleyin:1;transformoriginin:left 20% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;"
            src="/img/ss/global/ss1.png">

      <h1 class="big-section-title color-white text-left ls-l" style="top:190px; left:645px; font-size: 60px;" data-ls="durationin:1500;delayin:700;rotatein:20;rotatexin:30;scalexin:1;scaleyin:1;transformoriginin:left 20% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">
        STETA</h1>


      <!--sub titulo-->
      <h2 class="text-theme text-left ls-l" style="font-size: 30px; top:265px; left: 108px;" data-ls="durationin:1500;delayin:700;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 20% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">
        Abogados</h2>

      <!--boton-->
      <a class="btn btn-white flat btn-big-border btn-lg ls-l" href="#" rel="external" style="font-size: 13px; top:325px; left:108px;" data-ls="durationin:1500;delayin:700;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 20% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">
        Áreas y Sectores</a>



      <!--Titulo ride side-->
      <h2 class="color-white text-left ls-l" style="width: 360px; top:135px; left:884px; font-size: 30px;" data-ls="durationin:1500;delayin:2200;rotatein:20;rotatexin:30;scalexin:1;scaleyin:1;transformoriginin:left 20% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">
        Experiencia e <br>
        innovación jurídica</h2>

      <!--separador horizontal-->
      <div class="half-dark ls-l" style="width: 360px; top:220px; left:884px;" data-ls="durationin:1500;delayin:2200;rotatein:20;rotatexin:30;scalexin:1;scaleyin:1;transformoriginin:left 20% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;"></div>

      <!--texto ride side-->
      <p class="text-left ls-l" style="width: 360px; top:245px; left:884px; font-size: 14px;" data-ls="durationin:1500;delayin:2200;rotatein:20;rotatexin:30;scalexin:1;scaleyin:1;transformoriginin:left 20% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">
        Santamarina y Steta brinda tradición, innovación y experiencia integral, en 32 áreas de práctica del Derecho. Brindamos solución a los proyectos, retos, dudas y obstáculos frecuentemente asociados con estructuras y negocios complejos, respondiendo con creatividad y eficacia y previniendo conflictos y contingencias futuras.</p>


    </div>




    <div id="slide1" class="ls-slide" data-ls="slidedelay:8000;transition2d:5;">

      <!--banner-->
      <h1 class="big-section-title color-white text-left ls-l" style="top:190px; left:108px; font-size: 60px;" data-ls="durationin:1500;delayin:700;rotatein:20;rotatexin:30;scalexin:1;scaleyin:1;transformoriginin:left 20% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">
        SANTAMARINA </h1>

      <img  class="ls-l" style="top:190px; left:545px;" data-ls="durationin:1500;delayin:700;rotatein:20;rotatexin:30;scalexin:1;scaleyin:1;transformoriginin:left 20% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;"
            src="/img/ss/global/ss1.png">

      <h1 class="big-section-title color-white text-left ls-l" style="top:190px; left:645px; font-size: 60px;" data-ls="durationin:1500;delayin:700;rotatein:20;rotatexin:30;scalexin:1;scaleyin:1;transformoriginin:left 20% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">
        STETA</h1>


      <!--sub titulo-->
      <h2 class="text-theme text-left ls-l" style="font-size: 30px; top:265px; left: 108px;" data-ls="durationin:1500;delayin:700;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 20% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">
        Abogados</h2>

      <!--boton-->
      <a class="btn btn-white flat btn-big-border btn-lg ls-l" href="#" rel="external" style="font-size: 13px; top:325px; left:108px;" data-ls="durationin:1500;delayin:700;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 20% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">
        Áreas y Sectores</a>



      <!--Titulo ride side-->
      <h2 class="color-white text-left ls-l" style="width: 360px; top:135px; left:884px; font-size: 30px;" data-ls="durationin:1500;delayin:2200;rotatein:20;rotatexin:30;scalexin:1;scaleyin:1;transformoriginin:left 20% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">
        Experiencia e <br>
        innovación jurídica</h2>

      <!--separador horizontal-->
      <div class="half-dark ls-l" style="width: 360px; top:220px; left:884px;" data-ls="durationin:1500;delayin:2200;rotatein:20;rotatexin:30;scalexin:1;scaleyin:1;transformoriginin:left 20% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;"></div>

      <!--texto ride side-->
      <p class="text-left ls-l" style="width: 360px; top:245px; left:884px; font-size: 14px;" data-ls="durationin:1500;delayin:2200;rotatein:20;rotatexin:30;scalexin:1;scaleyin:1;transformoriginin:left 20% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">
        Santamarina y Steta brinda tradición, innovación y experiencia integral, en 32 áreas de práctica del Derecho. Brindamos solución a los proyectos, retos, dudas y obstáculos frecuentemente asociados con estructuras y negocios complejos, respondiendo con creatividad y eficacia y previniendo conflictos y contingencias futuras.</p>


    </div>






  </div>

</div>
<!--layerslider END-->

