<div id="areas_y_sectores">
  <div class="spacer60"></div>
  <div class="container">
    <div class="row">
      <div class="blog-masonry-container">

        <div class="col-xs-12 col-sm-4 col-md-2 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/blog/2.jpg" class="popup-link" title="title goes here"><img src="/img/blog/2.jpg" alt=""></a>
            </div>
            <div class="media-text">
              <h4>
                <a href="#">Administrativo</a>
              </h4>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-2 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/blog/3.jpg" class="popup-link" title="title goes here"><img src="/img/blog/3.jpg" alt=""></a>
            </div>
            <div class="media-text">
              <h4>
                <a href="#">Aeronáutico y Aeroportuario</a>
              </h4>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-2 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/blog/5.jpg" class="popup-link" title="title goes here"><img src="/img/blog/5.jpg" alt=""></a>
            </div>
            <div class="media-text">
              <h4>
                <a href="#">Ambiental y Recursos naturales</a>
              </h4>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-2 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/blog/1.jpg" class="popup-link" title="title goes here"><img src="/img/blog/1.jpg" alt=""></a>
            </div>
            <div class="media-text">
              <h4>
                <a href="#">Arbitraje Comercial</a>
              </h4>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-2 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/blog/2.jpg" class="popup-link" title="title goes here"><img src="/img/blog/2.jpg" alt=""></a>
            </div>
            <div class="media-text">
              <h4>
                <a href="#">Bancario y Financiero</a>
              </h4>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-2 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/blog/3.jpg" class="popup-link" title="title goes here"><img src="/img/blog/3.jpg" alt=""></a>
            </div>
            <div class="media-text">
              <h4>
                <a href="#">Bursátil</a>
              </h4>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-2 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/blog/5.jpg" class="popup-link" title="title goes here"><img src="/img/blog/5.jpg" alt=""></a>
            </div>
            <div class="media-text">
              <h4>
                <a href="#">Comercio Exterior</a>
              </h4>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-2 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/blog/1.jpg" class="popup-link" title="title goes here"><img src="/img/blog/1.jpg" alt=""></a>
            </div>
            <div class="media-text">
              <h4>
                <a href="#">Competencia Económica</a>
              </h4>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-2 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/blog/2.jpg" class="popup-link" title="title goes here"><img src="/img/blog/2.jpg" alt=""></a>
            </div>
            <div class="media-text">
              <h4>
                <a href="#">Corporativo</a>
              </h4>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-2 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/blog/3.jpg" class="popup-link" title="title goes here"><img src="/img/blog/3.jpg" alt=""></a>
            </div>
            <div class="media-text">
              <h4>
                <a href="#">Distribución, Suministro y Franquicias</a>
              </h4>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-2 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/blog/5.jpg" class="popup-link" title="title goes here"><img src="/img/blog/5.jpg" alt=""></a>
            </div>
            <div class="media-text">
              <h4>
                <a href="#">Energía y Gas</a>
              </h4>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-2 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/blog/1.jpg" class="popup-link" title="title goes here"><img src="/img/blog/1.jpg" alt=""></a>
            </div>
            <div class="media-text">
              <h4>
                <a href="#">Financiamiento de Proyectos e Infraestructura</a>
              </h4>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-2 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/blog/2.jpg" class="popup-link" title="title goes here"><img src="/img/blog/2.jpg" alt=""></a>
            </div>
            <div class="media-text">
              <h4>
                <a href="#">Fiscal</a>
              </h4>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-2 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/blog/3.jpg" class="popup-link" title="title goes here"><img src="/img/blog/3.jpg" alt=""></a>
            </div>
            <div class="media-text">
              <h4>
                <a href="#">Fusiones y Adquisiciones</a>
              </h4>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-2 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/blog/5.jpg" class="popup-link" title="title goes here"><img src="/img/blog/5.jpg" alt=""></a>
            </div>
            <div class="media-text">
              <h4>
                <a href="#">Inmobiliario</a>
              </h4>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-2 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/blog/1.jpg" class="popup-link" title="title goes here"><img src="/img/blog/1.jpg" alt=""></a>
            </div>
            <div class="media-text">
              <h4>
                <a href="#">Inversión Extranjera</a>
              </h4>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-2 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/blog/2.jpg" class="popup-link" title="title goes here"><img src="/img/blog/2.jpg" alt=""></a>
            </div>
            <div class="media-text">
              <h4>
                <a href="#">Laboral</a>
              </h4>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-2 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/blog/3.jpg" class="popup-link" title="title goes here"><img src="/img/blog/3.jpg" alt=""></a>
            </div>
            <div class="media-text">
              <h4>
                <a href="#">Licitaciones y Privatizaciones</a>
              </h4>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-2 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/blog/5.jpg" class="popup-link" title="title goes here"><img src="/img/blog/5.jpg" alt=""></a>
            </div>
            <div class="media-text">
              <h4>
                <a href="#">Litigio Civil y Mercantil</a>
              </h4>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-2 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/blog/1.jpg" class="popup-link" title="title goes here"><img src="/img/blog/1.jpg" alt=""></a>
            </div>
            <div class="media-text">
              <h4>
                <a href="#">Litigio Constitucional, Administrativo y Fiscal</a>
              </h4>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-2 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/blog/2.jpg" class="popup-link" title="title goes here"><img src="/img/blog/2.jpg" alt=""></a>
            </div>
            <div class="media-text">
              <h4>
                <a href="#">Marítimo</a>
              </h4>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-2 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/blog/3.jpg" class="popup-link" title="title goes here"><img src="/img/blog/3.jpg" alt=""></a>
            </div>
            <div class="media-text">
              <h4>
                <a href="#">Migratorio</a>
              </h4>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-2 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/blog/5.jpg" class="popup-link" title="title goes here"><img src="/img/blog/5.jpg" alt=""></a>
            </div>
            <div class="media-text">
              <h4>
                <a href="#">Minería</a>
              </h4>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-2 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/blog/1.jpg" class="popup-link" title="title goes here"><img src="/img/blog/1.jpg" alt=""></a>
            </div>
            <div class="media-text">
              <h4>
                <a href="#">Planeación Patrimonial y Sucesoria</a>
              </h4>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-2 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/blog/2.jpg" class="popup-link" title="title goes here"><img src="/img/blog/2.jpg" alt=""></a>
            </div>
            <div class="media-text">
              <h4>
                <a href="#">Privacidad de datos, Prevención de Lavado de Dinero y Comercio Electrónico</a>
              </h4>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-2 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/blog/3.jpg" class="popup-link" title="title goes here"><img src="/img/blog/3.jpg" alt=""></a>
            </div>
            <div class="media-text">
              <h4>
                <a href="#">Propiedad Intelectual</a>
              </h4>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-2 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/blog/5.jpg" class="popup-link" title="title goes here"><img src="/img/blog/5.jpg" alt=""></a>
            </div>
            <div class="media-text">
              <h4>
                <a href="#">Protección al Consumidor</a>
              </h4>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-2 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/blog/1.jpg" class="popup-link" title="title goes here"><img src="/img/blog/1.jpg" alt=""></a>
            </div>
            <div class="media-text">
              <h4>
                <a href="#">Reestructuras y Concursos Mercantiles</a>
              </h4>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-2 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/blog/2.jpg" class="popup-link" title="title goes here"><img src="/img/blog/2.jpg" alt=""></a>
            </div>
            <div class="media-text">
              <h4>
                <a href="#">Salud y Regulación Sanitaria</a>
              </h4>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-2 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/blog/3.jpg" class="popup-link" title="title goes here"><img src="/img/blog/3.jpg" alt=""></a>
            </div>
            <div class="media-text">
              <h4>
                <a href="#">Seguridad Social</a>
              </h4>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-2 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/blog/5.jpg" class="popup-link" title="title goes here"><img src="/img/blog/5.jpg" alt=""></a>
            </div>
            <div class="media-text">
              <h4>
                <a href="#">Seguros</a>
              </h4>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-2 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/blog/5.jpg" class="popup-link" title="title goes here"><img src="/img/blog/5.jpg" alt=""></a>
            </div>
            <div class="media-text">
              <h4>
                <a href="#">Telecomunicaciones</a>
              </h4>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-2 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/blog/5.jpg" class="popup-link" title="title goes here"><img src="/img/blog/5.jpg" alt=""></a>
            </div>
            <div class="media-text">
              <h4>
                <a href="#">Turismo</a>
              </h4>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>