<div id="areas_y_sectores">
  <div class="spacer60"></div>
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="blog-boxed">
          <div class="media-content">
            <a href="/img/blog/administrativo.jpg" class="popup-link" title="title goes here"><img src="/img/blog/administrativo.jpg" alt=""></a>
          </div>
          <div class="media-text">
            <h4>
              <a href="#">Administrativo</a>
            </h4>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="blog-boxed">
          <div class="media-content">
            <a href="/img/blog/aero.jpg" class="popup-link" title="title goes here"><img src="/img/blog/aero.jpg" alt=""></a>
          </div>
          <div class="media-text">
            <h4>
              <a href="#">Aeronáutico y Aeroportuario</a>
            </h4>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="blog-boxed">
          <div class="media-content">
            <a href="/img/blog/ambiente.jpg" class="popup-link" title="title goes here"><img src="/img/blog/ambiente.jpg" alt=""></a>
          </div>
          <div class="media-text">
            <h4>
              <a href="#">Ambiental y Recursos naturales</a>
            </h4>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="blog-boxed">
          <div class="media-content">
            <a href="/img/blog/arbitraje.jpg" class="popup-link" title="title goes here"><img src="/img/blog/arbitraje.jpg" alt=""></a>
          </div>
          <div class="media-text">
            <h4>
              <a href="#">Arbitraje Comercial</a>
            </h4>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="blog-boxed">
          <div class="media-content">
            <a href="/img/blog/26.jpg" class="popup-link" title="title goes here"><img src="/img/blog/26.jpg" alt=""></a>
          </div>
          <div class="media-text">
            <h4>
              <a href="#">Bancario y Financiero</a>
            </h4>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="blog-boxed">
          <div class="media-content">
            <a href="/img/blog/27.jpg" class="popup-link" title="title goes here"><img src="/img/blog/27.jpg" alt=""></a>
          </div>
          <div class="media-text">
            <h4>
              <a href="#">Bursátil</a>
            </h4>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="blog-boxed">
          <div class="media-content">
            <a href="/img/blog/22.jpg" class="popup-link" title="title goes here"><img src="/img/blog/22.jpg" alt=""></a>
          </div>
          <div class="media-text">
            <h4>
              <a href="#">Comercio Exterior</a>
            </h4>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="blog-boxed">
          <div class="media-content">
            <a href="/img/blog/competencia.jpg" class="popup-link" title="title goes here"><img src="/img/blog/competencia.jpg" alt=""></a>
          </div>
          <div class="media-text">
            <h4>
              <a href="#">Competencia Económica</a>
            </h4>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="blog-boxed">
          <div class="media-content">
            <a href="/img/blog/29.jpg" class="popup-link" title="title goes here"><img src="/img/blog/29.jpg" alt=""></a>
          </div>
          <div class="media-text">
            <h4>
              <a href="#">Corporativo</a>
            </h4>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="blog-boxed">
          <div class="media-content">
            <a href="/img/blog/46.jpg" class="popup-link" title="title goes here"><img src="/img/blog/46.jpg" alt=""></a>
          </div>
          <div class="media-text">
            <h4>
              <a href="#">Distribución, Suministro y Franquicias</a>
            </h4>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="blog-boxed">
          <div class="media-content">
            <a href="/img/blog/39.jpg" class="popup-link" title="title goes here"><img src="/img/blog/39.jpg" alt=""></a>
          </div>
          <div class="media-text">
            <h4>
              <a href="#">Energía y Gas</a>
            </h4>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="blog-boxed">
          <div class="media-content">
            <a href="/img/blog/36.jpg" class="popup-link" title="title goes here"><img src="/img/blog/36.jpg" alt=""></a>
          </div>
          <div class="media-text">
            <h4>
              <a href="#">Finaniamiento de Proyectos e Infraestructura</a>
            </h4>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="blog-boxed">
          <div class="media-content">
            <a href="/img/blog/47.jpg" class="popup-link" title="title goes here"><img src="/img/blog/47.jpg" alt=""></a>
          </div>
          <div class="media-text">
            <h4>
              <a href="#">Fiscal</a>
            </h4>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="blog-boxed">
          <div class="media-content">
            <a href="/img/blog/43.jpg" class="popup-link" title="title goes here"><img src="/img/blog/43.jpg" alt=""></a>
          </div>
          <div class="media-text">
            <h4>
              <a href="#">Fusiones y Adquisiciones</a>
            </h4>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="blog-boxed">
          <div class="media-content">
            <a href="/img/blog/38.jpg" class="popup-link" title="title goes here"><img src="/img/blog/38.jpg" alt=""></a>
          </div>
          <div class="media-text">
            <h4>
              <a href="#">Inmobiliario</a>
            </h4>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="blog-boxed">
          <div class="media-content">
            <a href="/img/blog/20.jpg" class="popup-link" title="title goes here"><img src="/img/blog/20.jpg" alt=""></a>
          </div>
          <div class="media-text">
            <h4>
              <a href="#">Inversión Extranjera</a>
            </h4>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="blog-boxed">
          <div class="media-content">
            <a href="/img/blog/48.jpg" class="popup-link" title="title goes here"><img src="/img/blog/48.jpg" alt=""></a>
          </div>
          <div class="media-text">
            <h4>
              <a href="#">Laboral</a>
            </h4>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="blog-boxed">
          <div class="media-content">
            <a href="/img/blog/42.jpg" class="popup-link" title="title goes here"><img src="/img/blog/42.jpg" alt=""></a>
          </div>
          <div class="media-text">
            <h4>
              <a href="#">Licitaciones y Privatizaciones</a>
            </h4>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="blog-boxed">
          <div class="media-content">
            <a href="/img/blog/34.jpg" class="popup-link" title="title goes here"><img src="/img/blog/34.jpg" alt=""></a>
          </div>
          <div class="media-text">
            <h4>
              <a href="#">Litigio Civil y Mercantil</a>
            </h4>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="blog-boxed">
          <div class="media-content">
            <a href="/img/blog/35.jpg" class="popup-link" title="title goes here"><img src="/img/blog/35.jpg" alt=""></a>
          </div>
          <div class="media-text">
            <h4>
              <a href="#">Litigio Constitucional, Administrativo y Fiscal</a>
            </h4>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="blog-boxed">
          <div class="media-content">
            <a href="/img/blog/51.jpg" class="popup-link" title="title goes here"><img src="/img/blog/51.jpg" alt=""></a>
          </div>
          <div class="media-text">
            <h4>
              <a href="#">Marítimo</a>
            </h4>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="blog-boxed">
          <div class="media-content">
            <a href="/img/blog/49.jpg" class="popup-link" title="title goes here"><img src="/img/blog/49.jpg" alt=""></a>
          </div>
          <div class="media-text">
            <h4>
              <a href="#">Migratorio</a>
            </h4>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="blog-boxed">
          <div class="media-content">
            <a href="/img/blog/30.jpg" class="popup-link" title="title goes here"><img src="/img/blog/30.jpg" alt=""></a>
          </div>
          <div class="media-text">
            <h4>
              <a href="#">Minería</a>
            </h4>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="blog-boxed">
          <div class="media-content">
            <a href="/img/blog/28.jpg" class="popup-link" title="title goes here"><img src="/img/blog/28.jpg" alt=""></a>
          </div>
          <div class="media-text">
            <h4>
              <a href="#">Planeación Patrimonial y Sucesoria</a>
            </h4>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="blog-boxed">
          <div class="media-content">
            <a href="/img/blog/50.jpg" class="popup-link" title="title goes here"><img src="/img/blog/50.jpg" alt=""></a>
          </div>
          <div class="media-text">
            <h4>
              <a href="#">Privacidad de datos, Prevención de Lavado de Dinero y Comercio Electrónico</a>
            </h4>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="blog-boxed">
          <div class="media-content">
            <a href="/img/blog/24.jpg" class="popup-link" title="title goes here"><img src="/img/blog/24.jpg" alt=""></a>
          </div>
          <div class="media-text">
            <h4>
              <a href="#">Propiedad Inteletual</a>
            </h4>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="blog-boxed">
          <div class="media-content">
            <a href="/img/blog/5.jpg" class="popup-link" title="title goes here"><img src="/img/blog/5.jpg" alt=""></a>
          </div>
          <div class="media-text">
            <h4>
              <a href="#">Protección al Consumidor</a>
            </h4>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="blog-boxed">
          <div class="media-content">
            <a href="/img/blog/52.jpg" class="popup-link" title="title goes here"><img src="/img/blog/52.jpg" alt=""></a>
          </div>
          <div class="media-text">
            <h4>
              <a href="#">Reestructuras y Concursos Mercantiles</a>
            </h4>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="blog-boxed">
          <div class="media-content">
            <a href="/img/blog/33.jpg" class="popup-link" title="title goes here"><img src="/img/blog/33.jpg" alt=""></a>
          </div>
          <div class="media-text">
            <h4>
              <a href="#">Salud y Regulación Sanitaria</a>
            </h4>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="blog-boxed">
          <div class="media-content">
            <a href="/img/blog/41.jpg" class="popup-link" title="title goes here"><img src="/img/blog/41.jpg" alt=""></a>
          </div>
          <div class="media-text">
            <h4>
              <a href="#">Seguridad Social</a>
            </h4>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="blog-boxed">
          <div class="media-content">
            <a href="/img/blog/seguridad.jpg" class="popup-link" title="title goes here"><img src="/img/blog/seguridad.jpg" alt=""></a>
          </div>
          <div class="media-text">
            <h4>
              <a href="#">Seguros</a>
            </h4>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="blog-boxed">
          <div class="media-content">
            <a href="/img/blog/23.jpg" class="popup-link" title="title goes here"><img src="/img/blog/23.jpg" alt=""></a>
          </div>
          <div class="media-text">
            <h4>
              <a href="#">Telecomunicaciones</a>
            </h4>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="blog-boxed">
          <div class="media-content">
            <a href="/img/blog/32.jpg" class="popup-link" title="title goes here"><img src="/img/blog/32.jpg" alt=""></a>
          </div>
          <div class="media-text">
            <h4>
              <a href="#">Turismo</a>
            </h4>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>