
/*acerca_de_nosotros*/

#acerca_de_nosotros h2 {
    text-align: center;
    font-weight: 500;
}


#acerca_de_nosotros h3 {
    font-weight: 400;
}


#acerca_de_nosotros .client-says .client-name {
    float: left;
}


#acerca_de_nosotros .client-says {
    width: 100%;
}


#acerca_de_nosotros .client-says .client-text:after {
    display: none;
}


#acerca_de_nosotros .services-2 {
    text-align: left;
}

/*index*/

#slide1,#slide2 {
    background-color: #171516 !important;
}


#areas_y_sectores .blog-boxed {
    background: none repeat scroll 0 0 #1e1e1e;}


#areas_y_sectores .blog-boxed h4 a, #areas_y_sectores .blog-boxed h4 {
    color: #dddddd;}



.btn-black-layout{
    background-color: #1e1e1e;
    border-color: #1e1e1e;
    color: #fff;
}


.btn-black-layout:hover, .btn-black-layout:focus, .btn-black-layout:active, .btn-black-layout.active, .open .dropdown-toggle.btn-black-layout {
    background-color: #282828;
    border-color: #282828;
    color: #fff;
}