<div id="pag_construccion">
  <h2 class="section-title">Mapa del sitio</h2>


    <table>
      <tbody>
      <tr>
        <td style="vertical-align:top;width:130px;font-size:14px;font-weight:bold;">Acerca de Nosotros</td>
        <td><a href="/es/acerca_de_nosotros">Servicios Integrales</a>
          <br>Una firma con larga tradición dedicada a la práctica de casi todas las áreas del derecho...
          <br><br>
          <a href="/es/historia">Nuestra Historia</a>
          <br>
          "SANTAMARINA Y STETA fue constituido en el año de 1947, y es reconocido como uno de los despachos...
          <br><br>

      </tr>
      <tr>
        <td style="vertical-align:top;width:130px;font-size:14px;font-weight:bold;">Áreas y sectores</td>
        <td>
          <a href="/es/areas-y-sectores">Áreas de Práticas</a>
          <br>
          Más de mil clientes activos nos confían permanentemente sus proyectos y retos...
          <br><br>
        </td>
      </tr>
      <tr>
        <td style="vertical-align:top;width:130px;font-size:14px;font-weight:bold;">Prensa</td>
        <td>
          <a href="es/noticias">Noticias</a>
          <br>
          “A Mexican starlwart and a full-service firm of considerable established prestige in the market.”
          <br><br>
        </td>
      </tr>
      </tbody>
    </table>
</div>