<div id="prensa">
  <div class="spacer60"></div>
  <div class="container">
    <div class="row">
      <div class="blog-masonry-container">

        <div class="col-xs-12 col-sm-4 col-md-4 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/ss/contenidos/discriminacion_laboral.jpg" class="popup-link" title="Disposiciones legales en materia de discriminación laboral"><img src="/img/ss/contenidos/discriminacion_laboral.jpg" alt=""></a>
            </div>
            <div class="media-text">
              <h4>
                julio 13, 2015
              </h4>

              <p>
                <a href="http://www.s-s.mx/site/?p=6337" title="Seguir leyendo &quot;Disposiciones legales en materia de discriminación laboral: Santamarina y Steta • Nadia González • Multipress&quot;">
                  Disposiciones legales en materia de discriminación laboral: Santamarina y Steta • Nadia González •
                  Multipress
                </a>
              </p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/ss/contenidos/extranjeros.png" class="popup-link" title="title goes here"><img src="/img/ss/contenidos/extranjeros.png" alt=""></a>
            </div>
            <div class="media-text" style="padding-bottom: 27px;">
              <h4>
                julio 13, 2015
              </h4>

              <p>
                <a href="http://www.s-s.mx/site/?p=6335" title="Seguir leyendo &quot;Aspectos Migratorios para actividades Empresariales • Alejandro Luna y José Ramón Ayala • Revista Éxito Empresarial&quot;">Aspectos
                  Migratorios para actividades Empresariales • Alejandro Luna y José Ramón Ayala • Revista Éxito
                  Empresarial</a>
              </p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/ss/contenidos/energetica.jpg" class="popup-link" title="title goes here"><img src="/img/ss/contenidos/energetica.jpg" alt=""></a>
            </div>
            <div class="media-text" style="padding-bottom: 20px;">
              <h4>
                julio 8, 2015
              </h4>

              <p>
                <a href="http://www.s-s.mx/site/?p=6326" title="Seguir leyendo &quot;La Reforma Energética constituye un salto a nivel galaxia • Alberto Saavedra • El Financiero&quot;">La
                  Reforma Energética constituye un salto a nivel galaxia • Alberto Saavedra • El Financiero</a>
              </p>
              <br/>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/ss/contenidos/acero.jpg" class="popup-link" title="title goes here"><img src="/img/ss/contenidos/acero.jpg" alt=""></a>
            </div>
            <div class="media-text">
              <h4>
                julio 6, 2015
              </h4>

              <p>
                <a href="http://www.s-s.mx/site/?p=6315" title="Seguir leyendo &quot;Tambalean ductos por cuotas al acero • Bernardino Arenas • Medios&quot;">Tambalean
                  ductos por cuotas al acero • Bernardino Arenas • Medios</a>
              </p>
              <br/>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/ss/contenidos/reforma-fiscal.jpg" class="popup-link" title="title goes here"><img src="/img/ss/contenidos/reforma-fiscal.jpg" alt=""></a>
            </div>
            <div class="media-text" style="padding-bottom: 44px;">
              <h4>
                julio 1, 2015
              </h4>

              <p>
                <a href="http://www.s-s.mx/site/?p=6331" title="Seguir leyendo &quot;Reforma Fiscal de 2014: éxito y fracaso • Mariano Calderón • Revista Consultoría&quot;">Reforma
                  Fiscal de 2014: éxito y fracaso • Mariano Calderón • Revista Consultoría</a>
              </p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/ss/contenidos/gasolineras.jpg" class="popup-link" title="title goes here"><img src="/img/ss/contenidos/gasolineras.jpg" alt=""></a>
            </div>
            <div class="media-text" style="padding-bottom: 25px;">
              <h4>
                julio 1, 2015
              </h4>

              <p>
                <a href="http://www.s-s.mx/site/?p=6333" title="Seguir leyendo &quot;Preparándonos para el establecimiento de gasolineras privadas en el Distrito Federal • Andrea Cavazzani • Revista Consultoría&quot;">Preparándonos
                  para el establecimiento de gasolineras privadas en el Distrito Federal • Andrea Cavazzani • Revista
                  Consultoría</a>
              </p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/ss/contenidos/pemex.jpg" class="popup-link" title="title goes here"><img src="/img/ss/contenidos/pemex.jpg" alt=""></a>
            </div>
            <div class="media-text">
              <h4>
                junio 29, 2015
              </h4>

              <p>
                <a href="http://www.s-s.mx/site/?p=6310" title="Seguir leyendo &quot;Pondrán bajo la lupa a socios de Pemex • Cecilia Sarabia • REFORMA&quot;">Pondrán
                  bajo la lupa a socios de Pemex • Cecilia Sarabia • REFORMA</a>
              </p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/ss/contenidos/burrito.jpg" class="popup-link" title="Cargarán
                  IVA a tacos, burritos, y hasta a tamales"><img src="/img/ss/contenidos/burrito.jpg" alt=""></a>
            </div>
            <div class="media-text" style="padding-bottom: 33px;">
              <h4>
                junio 29, 2015
              </h4>

              <p>
                <a href="http://www.s-s.mx/site/?p=6308" title="Seguir leyendo &quot;Cargarán IVA a tacos, burritos, y hasta a tamales • Lic. Mariano Calderón • Periódico ABC&quot;">Cargarán
                  IVA a tacos, burritos, y hasta a tamales • Lic. Mariano Calderón • Periódico ABC</a>
              </p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/ss/contenidos/ronda1.jpg" class="popup-link" title="title goes here"><img src="/img/ss/contenidos/ronda1.jpg" alt=""></a>
            </div>
            <div class="media-text">
              <h4>
                junio 24, 2015
              </h4>

              <p>
                <a href="http://www.s-s.mx/site/?p=6302" title="Seguir leyendo &quot;Actualidad Legal • Modificación a Tercera Convocatoria Ronda Uno&quot;">Actualidad
                  Legal • Modificación a Tercera Convocatoria Ronda Uno</a>
              </p>
            </div>
          </div>
        </div>
        <!--<div class="col-xs-12 col-sm-4 col-md-4 blog-masonry-post">-->
          <!--<div class="blog-boxed">-->
            <!--<div class="media-content">-->
              <!--<a href="/img/blog/4.jpg" class="popup-link" title="title goes here"><img src="/img/blog/4.jpg" alt=""></a>-->
            <!--</div>-->
            <!--<div class="media-text">-->
              <!--<h4>-->
                <!--junio 24, 2015-->
              <!--</h4>-->

              <!--<p>-->
                <!--<a href="http://www.s-s.mx/site/?p=6297" title="Seguir leyendo &quot;Actualidad Legal • Reforma Constitucional en Materia de Deuda Publica Estatal&quot;">Actualidad-->
                  <!--Legal • Reforma Constitucional en Materia de Deuda Publica Estatal</a>-->
              <!--</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="col-xs-12 col-sm-4 col-md-4 blog-masonry-post">-->
          <!--<div class="blog-boxed">-->
            <!--<div class="media-content">-->
              <!--<a href="/img/blog/1.jpg" class="popup-link" title="title goes here"><img src="/img/blog/1.jpg" alt=""></a>-->
            <!--</div>-->
            <!--<div class="media-text">-->
              <!--<h4>mayo 25, 2015</h4>-->

              <!--<p>-->
                <!--<a href="#" title="">Empresarios,pieza fundamental para el fortalecimiento de la transparencia: INAI •-->
                  <!--Santamarina y Steta •-->
                  <!--MVS Noticias</a>-->
              <!--</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->


        <!--<div class="col-xs-12 col-sm-4 col-md-4 blog-masonry-post">-->
          <!--<div class="blog-boxed">-->
            <!--<div class="media-content">-->
              <!--<a href="/img/blog/5.jpg" class="popup-link" title="title goes here"><img src="/img/blog/5.jpg" alt=""></a>-->
            <!--</div>-->
            <!--<div class="media-text">-->
              <!--<h4>mayo 18, 2015</h4>-->

              <!--<p><a href="#" title="">Dificultan crear consorcios petroleros • Cecilia Sarabia • Medios</a></p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="col-xs-12 col-sm-4 col-md-4 blog-masonry-post">-->
          <!--<div class="blog-boxed">-->
            <!--<div class="media-content">-->
              <!--<a href="/img/blog/8.jpg" class="popup-link" title="title goes here"><img src="/img/blog/8.jpg" alt=""></a>-->
            <!--</div>-->
            <!--<div class="media-text">-->
              <!--<h4>mayo 18, 2015</h4>-->

              <!--<p><a href="#" title="">Pesa poco reforma en tarifa eléctrica • Bernardino Arenas • Medios</a></p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->


        <!--<div class="col-xs-12 col-sm-4 col-md-4 blog-masonry-post">-->
          <!--<div class="blog-boxed">-->
            <!--<div class="media-content">-->
              <!--<a href="/img/blog/3.jpg" class="popup-link" title="title goes here"><img src="/img/blog/3.jpg" alt=""></a>-->
            <!--</div>-->
            <!--<div class="media-text">-->
              <!--<h4>mayo 14, 2015</h4>-->

              <!--<p>-->
                <!--<a href="#" title="">Vivienda menos IVA • Jorge Ruíz • Revista Obras</a>-->
              <!--</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->


        <!--<div class="col-xs-12 col-sm-4 col-md-4 blog-masonry-post">-->
          <!--<div class="blog-boxed">-->
            <!--<div class="media-content">-->
              <!--<a href="/img/blog/7.jpg" class="popup-link" title="title goes here"><img src="/img/blog/7.jpg" alt=""></a>-->
            <!--</div>-->
            <!--<div class="media-text">-->
              <!--<h4>mayo 13, 2015</h4>-->

              <!--<p>-->
                <!--<a href="#" title="">Actualidad Legal • Tercera Convocatoria Ronda Uno</a>-->
              <!--</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->


        <!--<div class="col-xs-12 col-sm-4 col-md-4 blog-masonry-post">-->
          <!--<div class="blog-boxed">-->
            <!--<div class="media-content">-->
              <!--<a href="/img/blog/8.jpg" class="popup-link" title="title goes here"><img src="/img/blog/8.jpg" alt=""></a>-->
            <!--</div>-->
            <!--<div class="media-text">-->
              <!--<h4>mayo 12, 2015</h4>-->

              <!--<p>-->
                <!--<a href="#" title="">Mujer: homenajeada, pero sometida, vapuleada y discriminada • Nadia González •-->
                  <!--Huellas-->
                  <!--de México</a>-->
              <!--</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->


        <!--<div class="col-xs-12 col-sm-4 col-md-4 blog-masonry-post">-->
          <!--<div class="blog-boxed">-->
            <!--<div class="media-content">-->
              <!--<a href="/img/blog/5.jpg" class="popup-link" title="title goes here"><img src="/img/blog/5.jpg" alt=""></a>-->
            <!--</div>-->
            <!--<div class="media-text">-->
              <!--<h4>mayo 11, 2015</h4>-->

              <!--<p>-->
                <!--<a href="#" title="">Trabajadoras maduras, las más expuestas a Discriminación Laboral • Nadia Gonzáles •-->
                  <!--Medios</a>-->
              <!--</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->


        <!--<div class="col-xs-12 col-sm-4 col-md-4 blog-masonry-post">-->
          <!--<div class="blog-boxed">-->
            <!--<div class="media-content">-->
              <!--<a href="/img/blog/2.jpg" class="popup-link" title="title goes here"><img src="/img/blog/2.jpg" alt=""></a>-->
            <!--</div>-->
            <!--<div class="media-text">-->
              <!--<h4>mayo 6, 2015</h4>-->

              <!--<p>-->
                <!--<a href="#" title="">Legal aspects of job offer letters • Francisco Udave • International Law Office</a>-->
              <!--</p>-->
              <!--<br/>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="col-xs-12 col-sm-4 col-md-4 blog-masonry-post">-->
          <!--<div class="blog-boxed">-->
            <!--<div class="media-content">-->
              <!--<a href="/img/blog/6.jpg" class="popup-link" title="title goes here"><img src="/img/blog/6.jpg" alt=""></a>-->
            <!--</div>-->
            <!--<div class="media-text">-->
              <!--<h4>mayo 6, 2015</h4>-->

              <!--<p><a href="#" title="">Esquema de Asociaciones Público Privadas está subutilizado • Sergio Chagoya •-->
                <!--Medios</a>-->
              <!--</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="col-xs-12 col-sm-4 col-md-4 blog-masonry-post">-->
          <!--<div class="blog-boxed">-->
            <!--<div class="media-content">-->
              <!--<a href="/img/blog/1.jpg" class="popup-link" title="title goes here"><img src="/img/blog/1.jpg" alt=""></a>-->
            <!--</div>-->
            <!--<div class="media-text">-->
              <!--<h4>mayo 6, 2015</h4>-->

              <!--<p><a href="#" title="">Comienza nueva era para GEO • Fernando del Castillo • El Economista</a></p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->


      </div>
    </div>

  </div>
</div>

