<div id="prensa">
  <div class="spacer60"></div>
  <div class="container">
    <div class="row">
      <div class="blog-masonry-container">

        <div class="col-xs-12 col-sm-4 col-md-4 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/blog/1.jpg" class="popup-link" title="title goes here"><img src="/img/blog/1.jpg" alt=""></a>
            </div>
            <div class="media-text">
              <h4><a href="#">mayo 25, 2015</a></h4>

              <p>
                Empresarios, pieza fundamental para el fortalecimiento de la transparencia: INAI • Santamarina y Steta •
                MVS Noticias
              </p>
            </div>
          </div>
        </div>


        <div class="col-xs-12 col-sm-4 col-md-4 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/blog/2.jpg" class="popup-link" title="title goes here"><img src="/img/blog/2.jpg" alt=""></a>
            </div>
            <div class="media-text">
              <h4><a href="#">mayo 18, 2015</a></h4>

              <p>Dificultan crear consorcios petroleros • Cecilia Sarabia • Medios</p>

              <p>Pesa poco reforma en tarifa eléctrica • Bernardino Arenas • Medios</p>
            </div>
          </div>
        </div>


        <div class="col-xs-12 col-sm-4 col-md-4 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/blog/3.jpg" class="popup-link" title="title goes here"><img src="/img/blog/3.jpg" alt=""></a>
            </div>
            <div class="media-text">
              <h4><a href="#">mayo 14, 2015</a></h4>

              <p>
                Vivienda menos IVA • Jorge Ruíz • Revista Obras
              </p>
            </div>
          </div>
        </div>


        <div class="col-xs-12 col-sm-4 col-md-4 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/blog/3.jpg" class="popup-link" title="title goes here"><img src="/img/blog/3.jpg" alt=""></a>
            </div>
            <div class="media-text">
              <h4><a href="#">mayo 13, 2015</a></h4>

              <p>
                Actualidad Legal • Tercera Convocatoria Ronda Uno
              </p>
            </div>
          </div>
        </div>


        <div class="col-xs-12 col-sm-4 col-md-4 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/blog/4.jpg" class="popup-link" title="title goes here"><img src="/img/blog/4.jpg" alt=""></a>
            </div>
            <div class="media-text">
              <h4><a href="#">mayo 12, 2015</a></h4>

              <p>
                Mujer: homenajeada, pero sometida, vapuleada y discriminada • Nadia González • Huellas de México
              </p>
            </div>
          </div>
        </div>


        <div class="col-xs-12 col-sm-4 col-md-4 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/blog/5.jpg" class="popup-link" title="title goes here"><img src="/img/blog/5.jpg" alt=""></a>
            </div>
            <div class="media-text">
              <h4><a href="#">mayo 11, 2015</a></h4>

              <p>
                Trabajadoras maduras, las más expuestas a Discriminación Laboral • Nadia Gonzáles • Medios
              </p>
            </div>
          </div>
        </div>


        <div class="col-xs-12 col-sm-4 col-md-4 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/blog/6.jpg" class="popup-link" title="title goes here"><img src="/img/blog/6.jpg" alt=""></a>
            </div>
            <div class="media-text">
              <h4><a href="#">Blog post title</a></h4>

              <p></p>
            </div>
          </div>
        </div>


        <div class="col-xs-12 col-sm-4 col-md-4 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/blog/7.jpg" class="popup-link" title="title goes here"><img src="/img/blog/7.jpg" alt=""></a>
            </div>
            <div class="media-text">
              <h4><a href="#">Blog post title</a></h4>

              <p> Ut tempor, turpis ut bibendum efficitur, risus purus mollis elit. Praesent a porttitor justo, a
                molestie tortor. Ut a dictum magna, eu malesuada leo. Sed commodo eget mauris ac consectetur. Duis
                ornare diam sed nibh suscipit, ac blandit magna fringilla. Mauris nec dignissim augue.</p>
            </div>
          </div>
        </div>


        <div class="col-xs-12 col-sm-4 col-md-4 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/blog/8.jpg" class="popup-link" title="title goes here"><img src="/img/blog/8.jpg" alt=""></a>
            </div>
            <div class="media-text">
              <h4><a href="#">Blog post title</a></h4>

              <p>Fusce tempus mauris et nulla tincidunt aliquam. Enim vitae sem aliquet tincidunt.</p>
            </div>
          </div>
        </div>


        <div class="col-xs-12 col-sm-4 col-md-4 blog-masonry-post">
          <div class="blog-boxed">
            <div class="media-content">
              <a href="/img/blog/9.jpg" class="popup-link" title="title goes here"><img src="/img/blog/9.jpg" alt=""></a>
            </div>
            <div class="media-text">
              <h4><a href="#">Blog post title</a></h4>
            </div>
          </div>
        </div>


      </div>
    </div>

  </div>
</div>

