<footer class="footer"> <!-- footer begings -->
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-3">
          <h3 class="footer-title">MÉXICO</h3>
          <p>Edificio Omega<br>
            Campos Elíseos 345, Pisos 2, 3 y 11, <br>
            Chapultepec Polanco 11560 México, DF
          </p>
        </div>
        <div class="col-md-2 col-sm-3">
          <h3 class="footer-title">MONTERREY </h3>
          <p>Torre Comercial América<br>
            Batallón de San Patricio 111, Piso 11, Valle  <br>
            Oriente 66269 Garza García, NL
          </p>
        </div>
        <div class="col-md-2 col-sm-3">
          <h3 class="footer-title">TIJUANA </h3>
          <p>Corporativo Paseo<br>
            Av. Paseo de los Héroes 10289, Piso 3, Desp. 303, <br>
            Zona Río 22320 Tijuana, BC
          </p>
        </div>
        <div class="col-md-2 col-sm-3">
          <h3 class="footer-title">QUERÉTARO </h3>
          <p>Corporativo Blanco<br>
            Av. Prolongación Tecnológico 950–B, P. 16,  <br>
            San Pablo 76159 Querétaro, QT
          </p>
        </div>

        <div class="col-md-4 col-sm-3">
          <ul class="flickr-feed">
            <li><a href="#"><img src="/img/ss/portada/cu1x72.jpg" alt=""></a></li>
            <li><a href="#"><img src="/img/ss/portada/cu2x72.jpg" alt=""></a></li>
            <li><a href="#"><img src="/img/ss/portada/cu3x72.jpg" alt=""></a></li>
            <li><a href="#"><img src="/img/ss/portada/cu4x72.jpg" alt=""></a></li>
            <li><a href="#"><img src="/img/ss/portada/cu5x72.jpg" alt=""></a></li>
            <li><a href="#"><img src="/img/ss/portada/cu6x72.jpg" alt=""></a></li>
            <li><a href="#"><img src="/img/ss/portada/cu7x72.jpg" alt=""></a></li>
            <li><a href="#"><img src="/img/ss/portada/cu8x72.jpg" alt=""></a></li>
          </ul>
        </div>
      </div>
      <div class="spacer40"></div>
      <div class="row">
        <div class="col-md-6 col-sm-4">
          <h3 class="footer-title">Destacado</h3>
          <ul class="tags-ul">
            <li><a href="/es/construccion">Reforma Fiscal de 2014</a></li>
            <li><a href="/es/construccion">Sector energético</a></li>
            <li><a href="/es/construccion">Derechos Humanos</a></li>
            <li><a href="/es/construccion">Ley Federal de Competencia Económica </a></li>
            <li><a href="/es/construccion">Reforma Telecomunicaciones</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-4">
          <h3 class="footer-title">Comentarios</h3>
          <!--<ul class="list-1">-->
            <!--<li>Alica Joe on <a href="#">Statistics plan.</a></li>-->
            <!--<li>Peter on <a href="#">Webdesign.</a></li>-->
            <!--<li>Headhunter on <a href="#">House music.</a></li>-->
            <!--<li>Angerfist on <a href="#">Hardcore.</a></li>-->
          <!--</ul>-->
          <p>“Santamarina y Steta evidences a list of loyal clients and regular transactional work, as well as very strong links internationally.” <br/><small>-Latin Lawyer-</small></p>

        </div>
        <div class="col-md-3 col-sm-4">
          <h3 class="footer-title">Suscríbase a nuestro boletín </h3>
          <input type="text" class="form-control form-control-footer-dark" placeholder="email">
          <div class="spacer15"></div>
          <button class="btn btn-primary">Subscribir</button>
        </div>

      </div>

    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p class="footer-text-left">
            <a href="/">Inicio</a> |
            <a href="/es/noticias">Prensa</a> |
            <a href="/es/construccion">Aviso de privacidad</a> |
            <a href="#">English Version</a>
          </p>
        </div>
        <div class="col-sm-6">
          <p class="footer-text-right">&copy; 2015 <a href="#">Santamarina y Steta</a>.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
