<header id="header">
  <!-- Navigation starts -->
  <nav class="navbar" role="navigation">
    <div class="navbar-inner">
      <div class="container">
        <!-- logo-->
        <a href="/" title="Home" class="logo pull-left"><img src="/img/ss/global/ss-logo.png " alt="logo"></a>
        <!-- Menu -->
        <ul class="nav pull-right" id="nav">
          <li class="selected"><a href="index.html">ACERCA DE NOSOTROS</a>
            <ul>
              <li><a href="/es/acerca_de_nosotros">Servicios Integrales</a></li>
              <li><a href="/es/historia">Nuestra Historia</a></li>

            </ul>
          </li>



          <li><a href="#">ÁREAS Y SECTORES</a>
            <!-- sub menu -->
            <ul>

              <li><a href="/es/areas-y-sectores">Áreas de Práctica</a></li>
              <li><a href="#">Sectores y Confiabilidad</a></li>

            </ul>
            <!-- sub menu ends -->
          </li>



          <li><a href="#">NUESTROS ABOGADOS</a>
            <!-- sub menu -->
            <ul>
              <li><a href="#"> Socios de Negocios</a></li>
            </ul>

          </li>



          <li><a href="#">ALIANZAS INTERNACIONALES</a>
            <!-- sub menu -->
            <ul>
              <li><a href="#">Alianzas Internacionales</a></li>
              <li><a href="#"> Cámaras de Comercio</a></li>
              <li><a href="#">Directorios</a></li>
              <li><a href="#">Asociaciones Internacionales</a></li>

            </ul>
          </li>



          <li id="menu-prensa"><a href="#">PRENSA</a>
            <ul>

              <li><a href="/es/prensa">Noticias</a></li>
              <li><a href="#">Boletines</a></li>
              <li><a href="#">Artículos</a></li>
              <li><a href="#">Actualidades Legales</a></li>


            </ul>

          </li>


          <!--<li><a href="components.html" title="Components">Components</a></li> -->


        </ul>
      </div>
    </div>
  </nav>
  <!-- Navigation ends -->
</header>
