  <div class="promo-box-container">
    <div class="container">  
      <div class="row">
        <div class="col-md-12">
          <div class="promo-box">
            <h4><%= I18n.t 'promobox' %></h4>
            <img src="http://cdn.investorcloud.net/GIS/site/img/portada/logo-blanco-sm.png">
          </div>  
        </div>
      </div>    
    </div>   
  </div> 